*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-image: url("Assets/bg.jpg");
  background-repeat: repeat;
  position: relative;
}
#mycanvas{
  border: solid 15px green;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
